@import '../../../sass/utils/variables.module';
@import '../../../sass/utils/mixins.module';

.product_section {
  padding-top: 40px;
  padding-bottom: 80px;

  @media (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 48px;
  }

  @media (min-width: 1200px) {
    padding-top: 28px;
    padding-bottom: 81px;
  }
}

.not_found_product {
  max-width: 580px;
  @include fontSizeAuto(16px, 24px);
  color: $borde-color;
}

.not_found_span_top {
  color: $orange-color;
}

.not_found_span_bottom {
  display: inline-flex;
  margin-top: 16px;
  color: $orange-color;
}

.product_list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 100%;

  @media (min-width: 768px) {
    max-width: 700px;
    max-height: 660px;
    overflow-y: auto;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;

    -webkit-scrollbar-width: thin;
    -webkit-scrollbar-color: $light-orange-color;

    &::-webkit-scrollbar {
      width: 8px;
      background: rgba(239, 237, 232, 0.1);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $light-orange-color;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
    }

    &::-webkit-scrollbar-track {
      background-color: $item-block-color;
    }
  }

  @media (min-width: 1200px) {
    min-width: 850px;
    max-height: 487px;
  }
}

.product_list_item {
  padding: 16px;
  background-color: $item-block-color;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-btn;
  -webkit-border-radius: $border-radius-btn;
  -moz-border-radius: $border-radius-btn;
  -ms-border-radius: $border-radius-btn;
  -o-border-radius: $border-radius-btn;
  border: 1px solid $borde-color;
  height: 141px;

  @media (min-width: 768px) {
    width: 335px;
  }

  @media (min-width: 1200px) {
    min-width: 405px;
  }
}

.product_list_item_header {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.product_list_pin {
  padding: 5px 8px;
  border-radius: 4px;
  background-color: $item-block-color;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  text-transform: uppercase;
  color: $white-color;
  font-size: 12px;
  font-weight: 700;
}

.product_list_tracker {
  margin-left: auto;
  margin-right: 16px;
  color: $white-color;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translate(-12px, -50%);
    display: block;
    background-image: url('/recommended.svg');
    width: 14px;
    height: 14px;
    -webkit-transform: translate(-12px, -50%);
    -moz-transform: translate(-12px, -50%);
    -ms-transform: translate(-12px, -50%);
    -o-transform: translate(-12px, -50%);
  }
}

.product_list_add_btn {
  position: relative;
  cursor: pointer;
  color: $orange-color;
  margin-right: 24px;
  @include fontSizeAuto(14px, 18px);

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    right: -16px;
    display: block;
    background-image: url('/next.svg');
    width: 16px;
    height: 16px;
  }
}

.product_list_item_middle {
  position: relative;
  margin-bottom: 8px;
  margin-left: 40px;
  color: $white-color;
  @include fontSizeAuto(20px, 24px);

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -16px;
    display: block;
    background-image: url('/cal-man-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: $beige-color;
    width: 24px;
    height: 24px;
    transform: translate(-16px, -50%);
    -webkit-transform: translate(-16px, -50%);
    -moz-transform: translate(-16px, -50%);
    -ms-transform: translate(-16px, -50%);
    -o-transform: translate(-16px, -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

.product_list_item_footer {
  display: flex;
  gap: 16px;
  color: $borde-color;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.product_list_item_span {
  margin-left: 4px;
  color: $white-color;
  @include fontSizeAuto(12px, 18px);
}
