@import '../../../sass/utils/variables.module';
@import '../../../sass/utils/mixins.module';

.step_one_section {
  background-image: url('/data-mobile-page-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100vw;
  min-height: 100vh;
  background-color: $black-color;
  padding-top: 90px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .step_one_section {
      background-image: url('/data-tablet-page-1.jpg');
      background-size: contain;
      background-position: right;
      padding-top: 142px;
      padding-bottom: 32px;
    }
  }
}

@media (min-width: 1200px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .step_one_section {
      background-image: url('/data-desktop-page-1.jpg');
      padding-top: 151px;
      padding-bottom: 32px;
    }
  }
}

.step_one_title {
  color: $white-color;
  @include fontSizeAuto(24px, 28px);
  font-weight: 700;
  margin-bottom: 14px;

  @include mediaQuery(768px) {
    @include fontSizeAuto(32px, 44px);
    margin-bottom: 16px;
  }
}

.step_one_description {
  width: 335px;
  color: $borde-color;
  @include fontSizeAuto(14px, 18px);
  margin-bottom: 28px;

  @include mediaQuery(768px) {
    @include fontSizeAuto(16px, 24px);
    margin-bottom: 32px;
  }
}

.form_step_one {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 530px;
}

.step_one_form_group {
  position: relative;
  max-width: 155px;
}

.form_step_one_input {
  width: 100%;
  padding: 14px;
  background-color: transparent;
  border-radius: $border-radius-btn;
  -webkit-border-radius: $border-radius-btn;
  -moz-border-radius: $border-radius-btn;
  -ms-border-radius: $border-radius-btn;
  -o-border-radius: $border-radius-btn;
  border: 1px solid $borde-color;
  color: $white-color;
}

.form_step_one_input:focus {
  outline: 1px solid $orange-color;
}

.step_one_form_placeholder {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translate(0, -50%);
  color: rgba(239, 237, 232, 0.6);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  @include fontSizeAuto(14px, 18px);
  pointer-events: none;
}

.step_one_form_group:focus-within .step_one_form_placeholder {
  transform: translate(0, -45px);
  -webkit-transform: translate(0, -45px);
  -moz-transform: translate(0, -45px);
  -ms-transform: translate(0, -45px);
  -o-transform: translate(0, -45px);
}

.calendar_icon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  cursor: pointer;
}

.form_placeholder_hidden {
  display: none;
}

.success_text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 3px;
  color: $success-color;
  font-size: 10px;
}

.validation_error {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: -20px;
  left: 5px;
  color: $error-color;
  font-size: 10px;
}

.errorText {
  color: $error-color;
}

.link_next {
  position: absolute;
  top: 130%;
  left: 0;
  display: flex;
  gap: 5px;
  color: $white-color;
  background-color: transparent;
  border: none;
  @include fontSizeAuto(14px, 18px);

  @include mediaQuery(768px) {
    @include fontSizeAuto(16px, 24px);
    margin-bottom: 167px;
  }
}

