@import '../../../sass/utils/variables.module';
@import '../../../sass/utils/mixins.module';

.form_container {
  margin-top: 500px;
  margin-bottom: 100px;
  position: relative;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 17px;
  background-color: $fon-modal;
  border: 1px solid $borde-color;
  border-radius: $border-radius-btn;
  -webkit-border-radius: $border-radius-btn;
  -moz-border-radius: $border-radius-btn;
  -ms-border-radius: $border-radius-btn;
  -o-border-radius: $border-radius-btn;
  overflow-y: auto;

  @media (min-width: 768px) {
    min-width: 694px;
    height: 650px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.closed_icon {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.modal_img_wrapper {
  width: 270px;
  height: 226px;
  margin-left: auto;
  margin-right: auto;
  border-radius: $border-radius-btn;
  -webkit-border-radius: $border-radius-btn;
  -moz-border-radius: $border-radius-btn;
  -ms-border-radius: $border-radius-btn;
  -o-border-radius: $border-radius-btn;
  overflow: hidden;
  margin-bottom: 14px;

  @media (min-width: 768px) {
    position: absolute;
    top: 48px;
    left: 17px;
    margin-bottom: 0;
  }
}

.modal_img {
  object-fit: cover;
}

.timer_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    position: absolute;
    top: 306px;
    left: 104px;
  }
}

.time_title {
  margin-bottom: 8px;
  @include fontSizeAuto(10px, 14px);
  color: $borde-color;
}

.form_calories {
  width: 100%;
  @include flexCenter();
  margin-bottom: 40px;
  color: $borde-color;
  @include fontSizeAuto(14px, 18px);

  @media (min-width: 768px) {
    position: absolute;
    bottom: -250px;
    left: -230px;
    margin-bottom: 0;
    width: 200px;
  }
}

.form_calories_span {
  margin-left: 8px;
  color: $orange-color;
}

.form_calorie_input {
  background-color: transparent;
  border: none;
  color: $orange-color;
  width: 50px;
}

.form_create_exercise_diary {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  @media (min-width: 768px) {
    position: absolute;
    top: 48px;
    left: 318px;
  }
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 150px;
  padding: 12px 18px;
  border-radius: $border-radius-btn;
  -webkit-border-radius: $border-radius-btn;
  -moz-border-radius: $border-radius-btn;
  -ms-border-radius: $border-radius-btn;
  -o-border-radius: $border-radius-btn;
  border: 1px solid $borde-color;
  background-color: $item-block-color;

  &:last-of-type {
    margin-bottom: 72px;
  }

  @media (min-width: 768px) {
    width: 169px;
  }
}

.form_group_span {
  @include fontSizeAuto(14px, 18px);
  color: $borde-color;
}

.form_input {
  width: 100%;
  color: $white-color;
  background-color: transparent;
  border: none;
  font-weight: 700;
  @include fontSizeAuto(14px, 18px);

  &:focus {
    outline: 1px solid $orange-color;
  }
}

.create_exercises_diary_btn {
  position: absolute;
  bottom: 48px;
  left: 17px;
  @include flexCenter();
  @include fontSizeAuto(16px, 24px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: $orange-color;
  border: none;
  border-radius: $border-radius-btn;
  -webkit-border-radius: $border-radius-btn;
  -moz-border-radius: $border-radius-btn;
  -ms-border-radius: $border-radius-btn;
  -o-border-radius: $border-radius-btn;
  color: $white-color;
  padding: 14px 32px;

  &:hover {
    background-color: $beige-color;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
  }

  @media (min-width: 768px) {
    bottom: -250px;
    margin-bottom: 0;
    right: -146px;
    width: 150px;
  }
}
