@import '../../../sass/utils/variables.module';
@import '../../../sass/utils/mixins.module';

.form_container {
  margin-top: 60px;
  position: relative;
  max-width: 480px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 32px;
  background-color: $fon-modal;
  border: 1px solid $borde-color;
  border-radius: $border-radius-btn;
  -webkit-border-radius: $border-radius-btn;
  -moz-border-radius: $border-radius-btn;
  -ms-border-radius: $border-radius-btn;
  -o-border-radius: $border-radius-btn;
}

.closed_icon {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.modal_img_wrapper {
  position: relative;
  min-width: 270px;
  height: 226px;
  border-radius: $border-radius-btn;
  -webkit-border-radius: $border-radius-btn;
  -moz-border-radius: $border-radius-btn;
  -ms-border-radius: $border-radius-btn;
  -o-border-radius: $border-radius-btn;
  overflow: hidden;
  margin-bottom: 32px;
}

.modal_img {
  object-fit: cover;
}

.form_create_exercise_diary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.form_group {
  width: 100%;
  @include flexCenter();
  flex-direction: column;
}

.form_input {
  width: 100%;
  max-width: 250px;
  padding: 14px;
  border-radius: $border-radius-btn;
  -webkit-border-radius: $border-radius-btn;
  -moz-border-radius: $border-radius-btn;
  -ms-border-radius: $border-radius-btn;
  -o-border-radius: $border-radius-btn;
  border: 1px solid $borde-color;
  background-color: transparent;
  color: $white-color;

  &:focus {
    outline: 1px solid $orange-color;
  }
}

.validation_error {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: $error-color;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  text-align: center;
}

.create_exercises_diary_btn {
  @include flexCenter();
  @include fontSizeAuto(16px, 24px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: $orange-color;
  border: none;
  border-radius: $border-radius-btn;
  -webkit-border-radius: $border-radius-btn;
  -moz-border-radius: $border-radius-btn;
  -ms-border-radius: $border-radius-btn;
  -o-border-radius: $border-radius-btn;
  color: $white-color;
  padding: 14px 32px;

  &:hover {
    background-color: $beige-color;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
  }
}
