@import '../../../../sass/utils/variables.module';
@import '../../../../sass/utils/mixins.module';

.dynamic_page_section {
  width: 100vw;
  min-height: 100vh;
}

.background_fon_page {
  display: none;

  @include mediaQuery(1200px) {
    display: block;
    position: absolute;
    z-index: -10px;
    right: -230px;
    top: 115px;
    width: 800px;
    min-height: 100vh;
  }
}
