@import '../../../../sass/utils/variables.module';
@import '../../../../sass/utils/mixins.module';

.dynamic_page_section {
  width: 100vw;
  min-height: 100vh;
  background-color: $black-color;
  background-image: url('/auth-form-background-mobile.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;

  @include mediaQuery(768px) {
    padding-top: 72px;
    padding-bottom: 32px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/auth-form-background-tablet.jpg');
    }
  }

  @include mediaQuery(1440px) {
    padding-bottom: 46px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/auth-form-background-desctop.jpg');
    }
  }
}
