@import '../../../sass/utils/variables.module';
@import '../../../sass/utils/mixins.module';

.not_found_sub_exercises_cards {
  max-width: 580px;
  @include fontSizeAuto(16px, 24px);
  color: $borde-color;
}

.not_found_span_top {
  color: $orange-color;
}

.not_found_span_bottom {
  display: inline-flex;
  margin-top: 16px;
  color: $orange-color;
}

.exercise_sub_list {
  width: 100%;
  max-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    max-width: 700px;
    max-height: 660px;
    overflow-y: auto;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;

    -webkit-scrollbar-width: thin;
    -webkit-scrollbar-color: $light-orange-color;

    &::-webkit-scrollbar {
      width: 8px;
      background: rgba(239, 237, 232, 0.1);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $light-orange-color;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
    }

    &::-webkit-scrollbar-track {
      background-color: $item-block-color;
    }
  }

  @media (min-width: 1200px) {
    max-width: 850px;
    max-height: 487px;
  }
}

.exercise_sub_list_item {
  position: relative;
  padding: 16px;
  background-color: $item-block-color;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-btn;
  -webkit-border-radius: $border-radius-btn;
  -moz-border-radius: $border-radius-btn;
  -ms-border-radius: $border-radius-btn;
  -o-border-radius: $border-radius-btn;
  border: 1px solid $borde-color;

  @media (min-width: 768px) {
    width: 335px;
  }

  @media (min-width: 1200px) {
    width: 405px;
  }
}

.exercise_sub_item_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.exercise_sub_list_pin {
  padding: 6px 7px;
  background-color: $item-block-color;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.exercise_sub_list_add_btn {
  padding: 5px;
  position: relative;
  cursor: pointer;
  color: $orange-color;
  margin-right: 24px;
  @include fontSizeAuto(14px, 18px);

  &::before {
    content: '';
    position: absolute;
    top: 3px;
    right: -16px;
    display: block;
    background-image: url('/next.svg');
    width: 16px;
    height: 16px;
  }
}

.exercise_sub_list_middle {
  position: relative;
  margin-bottom: 8px;
  margin-left: 40px;
  color: $white-color;
  @include fontSizeAuto(20px, 24px);

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -16px;
    display: block;
    background-image: url('/cal-man-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: $beige-color;
    width: 24px;
    height: 24px;
    transform: translate(-16px, -50%);
    -webkit-transform: translate(-16px, -50%);
    -moz-transform: translate(-16px, -50%);
    -ms-transform: translate(-16px, -50%);
    -o-transform: translate(-16px, -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

.exercise_sub_list_item_footer {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  color: $borde-color;
  @include fontSizeAuto(12px, 18px);
}

.exercise_sub_list_item_span {
  margin-left: 4px;
  color: $white-color;
  @include fontSizeAuto(12px, 18px);
}

.deleted_product_icon {
  position: absolute;
  bottom: 15px;
  right: 10px;
  cursor: pointer;
}

.deleted_sub_exercise_loader {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: $white-color;
}
