@import '../../../sass/utils/variables.module';
@import '../../../sass/utils/mixins.module';

.diary_page_section {
  padding-top: 40px;
  padding-bottom: 80px;

  @include mediaQuery(768px) {
    padding-top: 72px;
    padding-bottom: 64px;
  }

  @include mediaQuery(1440px) {
    padding-bottom: 68px;
  }
}

.diary_page_wrapper {
  display: flex;
  flex-direction: column;

  @include mediaQuery(1150px) {
    justify-content: space-between;
    flex-direction: row;
    gap: 32px;
  }
}

.diary_page_title_switch_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  @include mediaQuery(768px) {
    margin-bottom: 32px;
  }
}

.diary_page_title {
  font-weight: 700;
  @include fontSizeAuto(24px, 28px);
  color: $white-color;

  @include mediaQuery(768px) {
    @include fontSizeAuto(32px, 44px);
  }
}

.dashboard_box_wrapper {
  margin-bottom: 40px;

  @include mediaQuery(768px) {
    order: 1;
    margin-top: 64px;
  }

  @include mediaQuery(1150px) {
    margin-top: 0;
  }
}

.product_box_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include mediaQuery(768px) {
    gap: 32px;
  }
}
