@import '../../sass/utils/variables.module';
@import '../../sass/utils/mixins.module';

.header {
  background-color: $black-color;
  padding-top: 24px;
  padding-bottom: 24px;

  @include mediaQuery(768px) {
    padding-top: 34px;
    padding-bottom: 34px;
  }
}
