@import '../../../sass/utils/variables.module';
@import '../../../sass/utils/mixins.module';

.step_two_section {
  background-image: url('/data-mobile-page-2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right, bottom;
  width: 100vw;
  min-height: 100vh;
  background-color: $black-color;
  padding-top: 90px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .step_two_section {
      background-image: url('/data-tablet-page-2.jpg');
      background-size: contain;
      background-position: right;
      padding-top: 142px;
      padding-bottom: 32px;
    }
  }
}

@media (min-width: 1440px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .step_two_section {
      background-image: url('/data-desktop-page-2.jpg');
      padding-top: 151px;
      padding-bottom: 32px;
    }
  }
}

.step_two_title {
  color: $white-color;
  @include fontSizeAuto(24px, 28px);
  font-weight: 700;
  margin-bottom: 28px;

  @include mediaQuery(768px) {
    @include fontSizeAuto(32px, 44px);
    margin-bottom: 32px;
  }
}

.top_group_wrapper {
  display: flex;
  gap: 64px;
  margin-bottom: 28px;
}

.bottom_group_wrapper {
  margin-bottom: 28px;

  @include mediaQuery(768px) {
    margin-bottom: 32px;
  }
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 8px;
}

.form_group_text_and_btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radio_text {
  color: $white-color;
  @include fontSizeAuto(14px, 18px);

  @include mediaQuery(768px) {
    @include fontSizeAuto(16px, 24px);
  }
}

.label_radio {
  color: $white-color;
  @include fontSizeAuto(14px, 18px);
  margin-bottom: 16px;

  @include mediaQuery(768px) {
    @include fontSizeAuto(16px, 24px);
  }
}

.errorText {
  color: #ff0000;
}

.nav_btn_wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav_btn_back {
  display: flex;
  align-items: center;
  color: rgba(239, 237, 232, 0.6);
  @include fontSizeAuto(16px, 24px);
}

.link_next {
  display: flex;
  align-items: center;
  gap: 5px;
  color: $white-color;
  background-color: transparent;
  border: none;
  @include fontSizeAuto(14px, 18px);

  @include mediaQuery(768px) {
    @include fontSizeAuto(16px, 24px);
  }
}

.validation_error {
  position: absolute;
  bottom: -14px;
  left: 5px;
  color: #ff0000;
  font-size: 10px;
}

.radio_btn {
  position: relative;
  border: 2px solid #636366;
  cursor: pointer;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  @include mediaQuery(768px) {
    width: 20px;
    height: 20px;
  }
}

.radio_btn:checked {
  border: 2px solid $light-orange-color;
}

.radio_btn:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: $light-orange-color;
}

.video_tutorial_banner {
  @include flexCenter();
  margin-left: auto;
  margin-right: auto;
  margin-top: 116px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 70px;
  width: 146px;
  height: 66px;
  background-color: #303030;
  border-radius: $border-radius-btn;
  -webkit-border-radius: $border-radius-btn;
  -moz-border-radius: $border-radius-btn;
  -ms-border-radius: $border-radius-btn;
  -o-border-radius: $border-radius-btn;
  -webkit-border-radius: 12p;

  @include mediaQuery(768px) {
    width: 206px;
    height: 96px;
    margin-bottom: 56px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include mediaQuery(1440px) {
    margin-right: 100px;
  }
}

.video_tutorial_text_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.video_tutorial_title {
  color: $white-color;
  @include fontSizeAuto(16px, 18px);
  font-weight: 700;

  @include mediaQuery(768px) {
    @include fontSizeAuto(24px, 24px);
  }
}

.video_description {
  color: rgba(239, 237, 232, 0.65);
  @include fontSizeAuto(12px, 16px);

  @include mediaQuery(768px) {
    @include fontSizeAuto(16px, 24px);
  }
}

.video_tutorial_banner_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: $orange-color;
  @include flexCenter();
  margin-right: 10px;

  @include mediaQuery(768px) {
    width: 40px;
    height: 40px;
  }
}

.cal_banner {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-bottom: 16px;
  gap: 5px;
  width: 119px;
  border-radius: $border-radius-btn;
  -webkit-border-radius: $border-radius-btn;
  -moz-border-radius: $border-radius-btn;
  -ms-border-radius: $border-radius-btn;
  -o-border-radius: $border-radius-btn;
  background-color: $light-orange-color;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
  padding-right: 18px;

  @include mediaQuery(768px) {
    padding-top: 18px;
    width: 180px;
  }

  @include mediaQuery(1440px) {
    margin-top: 300px;
  }
}

.cal_banner_icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: $beige-color;
  @include flexCenter();
  margin-bottom: 8px;

  @include mediaQuery(768px) {
    width: 24px;
    height: 24px;
  }
}

.cal_banner_text_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cal_banner_title {
  color: $white-color;
  font-size: 24px;
  @include fontSizeAuto(24px, 24px);
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;

  @include mediaQuery(768px) {
    @include fontSizeAuto(48px, 50px);
  }
}

.cal_banner_description {
  color: rgba(239, 237, 232, 0.65);
  @include fontSizeAuto(12px, 16px);
  font-weight: 700;

  @include mediaQuery(768px) {
    @include fontSizeAuto(22px, 24px);
  }
}

.nav_pagination {
  display: flex;
  gap: 14px;
  margin-top: 12px;

  @include mediaQuery(1440px) {
    margin-top: 135px;
  }
}

.nav_pagination_link {
  display: flex;
  width: 50px;
  height: 7px;
  border-radius: 2px;
  background-color: #303030;

  @include mediaQuery(768px) {
    @include fontSizeAuto(16px, 24px);
    width: 80px;
  }
}

.nav_pagination_link:first-child {
  border-radius: 2px;
  background-color: #ef8964;
}

.nav_pagination_link:nth-child(2) {
  border-radius: 2px;
  background-color: #ef8964;
  box-shadow: 0px 1px 10px 0px rgba(230, 83, 60, 0.8);
}
