@import '../../../../sass/utils/variables.module';
@import '../../../../sass/utils/mixins.module';

.products_diary_box {
  height: 844px;
  padding: 16px;
  background-color: $item-block-color;
  border: 1px solid $borde-color;
  border-radius: $border-radius-btn;
  -webkit-border-radius: $border-radius-btn;
  -moz-border-radius: $border-radius-btn;
  -ms-border-radius: $border-radius-btn;
  -o-border-radius: $border-radius-btn;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(239, 237, 232, 0.1) transparent;

  -webkit-scrollbar-width: thin;
  -webkit-scrollbar-color: $light-orange-color;

  &::-webkit-scrollbar-thumb {
    background-color: $light-orange-color;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: $item-block-color;
  }

  @include mediaQuery(768px) {
    height: 264px;
  }

  @include mediaQuery(1150px) {
    width: 826px;
    padding: 19px;
  }
}

.products_diary_box_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.products_diary_box_title {
  @include fontSizeAuto(14px, 18px);
  color: $borde-color;
}

.products_diary_box_link {
  @include fontSizeAuto(14px, 18px);
  position: relative;
  font-weight: 500;
  color: $orange-color;
  margin-right: 16px;

  &::before {
    content: '';
    position: absolute;
    top: 40%;
    right: -10px;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('/next.svg');
    transform: translate(10px, -55%);
    -webkit-transform: translate(10px, -55%);
    -moz-transform: translate(10px, -55%);
    -ms-transform: translate(10px, -55%);
    -o-transform: translate(10px, -55%);
  }
}

.title_list {
  display: flex;
  gap: 8px;
}

.title_item {
  @include fontSizeAuto(12px, 18px);
  color: $light-orange-color;
}

.title_item.title_one {
  width: 204px;

  @include mediaQuery(768px) {
    width: 90px;
  }

  @include mediaQuery(1200px) {
    width: 115px;
  }
}

.title_item.title_two {
  width: 128px;

  @include mediaQuery(768px) {
    width: 132px;
  }

  @include mediaQuery(1200px) {
    width: 157px;
  }
}

.title_item.title_three {
  width: 90px;

  @include mediaQuery(768px) {
    width: 128px;
  }

  @include mediaQuery(1200px) {
    width: 131px;
  }
}

.title_item.title_four {
  width: 80px;

  @include mediaQuery(768px) {
    width: 84px;
  }

  @include mediaQuery(1200px) {
    width: 108px;
  }
}

.title_item.title_five {
  width: 80px;

  @include mediaQuery(768px) {
    width: 78px;
  }

  @include mediaQuery(1200px) {
    width: 91px;
  }
}

.title_item.title_six {
  width: 80px;

  @include mediaQuery(768px) {
    width: 78px;
  }

  @include mediaQuery(1200px) {
    width: 82px;
  }
}

.product_diary_list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 774px;
  overflow-y: auto;
  scrollbar-width: none;
  -webkit-scrollbar-width: none;

  @include mediaQuery(768px) {
    height: 234px;
    gap: 8px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(239, 237, 232, 0.1) transparent;

    -webkit-scrollbar-width: thin;
    -webkit-scrollbar-color: rgba(239, 237, 232, 0.1);

    &::-webkit-scrollbar-thumb {
      background-color: $borde-color;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
    }

    &::-webkit-scrollbar-track {
      background-color: $item-block-color;
    }
  }

  @include mediaQuery(1200px) {
    gap: 8px;
    height: 180px;
  }
}

.product_diary_item {
  @include mediaQuery(768px) {
    display: flex;
    gap: 8px;
  }
}

.field_group {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @include mediaQuery(768px) {
    margin-bottom: 0;
  }
}

.sub_field_group {
  display: flex;
  gap: 16px;

  @include mediaQuery(768px) {
    gap: 8px;
  }
}

.sub_field_group_box {
  min-width: 80px;
}

.field_title {
  @include fontSizeAuto(12px, 18px);
  color: $light-orange-color;
  margin-bottom: 8px;

  @include mediaQuery(768px) {
    display: none;
  }
}

.field_values {
  position: relative;
  @include fontSizeAuto(14px, 18px);
  color: $white-color;
  border: 1px solid $borde-color;
  padding: 10px 14px 10px 14px;
  border-radius: $border-radius-btn;
  -webkit-border-radius: $border-radius-btn;
  -moz-border-radius: $border-radius-btn;
  -ms-border-radius: $border-radius-btn;
  -o-border-radius: $border-radius-btn;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include mediaQuery(768px) {
    @include fontSizeAuto(16px, 24px);
  }
}

.field_values.first_value {
  @include mediaQuery(768px) {
    width: 90px;
  }

  @include mediaQuery(1200px) {
    width: 115px;
  }
}

.field_values.second_value {
  @include mediaQuery(768px) {
    width: 132px;
  }

  @include mediaQuery(1200px) {
    width: 157px;
  }
}

.field_values.third_value {
  @include mediaQuery(768px) {
    width: 128px;
  }

  @include mediaQuery(1200px) {
    width: 131px;
  }
}

.field_values.fourth_value {
  @include mediaQuery(768px) {
    width: 84px;
  }

  @include mediaQuery(1200px) {
    width: 108px;
  }
}

.field_values.five_value {
  @include mediaQuery(768px) {
    width: 78px;
  }

  @include mediaQuery(1200px) {
    width: 91px;
  }
}

.field_values.six_value {
  @include mediaQuery(768px) {
    width: 72px;
  }

  @include mediaQuery(1200px) {
    width: 82px;
  }
}

.field_values_span_true {
  display: block;
  margin-left: 22px;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 14px;
    display: block;
    width: 14px;
    height: 14px;
    background-image: url('/recommended.svg');
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}

.field_values_span_false {
  display: block;
  margin-left: 22px;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 14px;
    display: block;
    width: 14px;
    height: 14px;
    background-image: url('/no-recommended.svg');
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}

.deleted_diary_product_icon {
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: 10px;

  @include mediaQuery(768px) {
    margin-left: 4px;
  }

  @include mediaQuery(1200px) {
    margin-left: 12px;
  }
}

.not_found_products {
  width: 100%;
  @include flexCenter();
  @include fontSizeAuto(14px, 18px);
  color: $borde-color;
  margin-top: auto;
  margin-bottom: auto;

  @include mediaQuery(768px) {
    @include fontSizeAuto(16px, 24px);
  }
}

.deleted_exercise_diary_loader {
  font-size: 10px;
  color: $white-color;
  margin-top: auto;
  margin-bottom: 10px;

  @include mediaQuery(768px) {
    margin-left: 4px;
  }

  @include mediaQuery(1200px) {
    margin-left: 12px;
  }
}
