@import '../../sass/utils/variables.module';
@import '../../sass/utils/mixins.module';

.profile_section {
  background-color: $black-color;
  width: 100vw;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 66px;

  @include mediaQuery(768px) {
    padding-top: 72px;
    padding-bottom: 54px;
  }

  @include mediaQuery(1440px) {
    padding-bottom: 44px;
  }
}

.profile_title {
  margin-bottom: 40px;
  color: $white-color;
  @include fontSizeAuto(24px, 28px);
  font-weight: 700;

  @include mediaQuery(768px) {
    @include fontSizeAuto(32px, 44px);
    margin-bottom: 64px;
  }

  @include mediaQuery(768px) {
    margin-bottom: 32px;
  }
}
