@import '../../../sass/utils/variables.module';
@import '../../../sass/utils/mixins.module';

.step_three_section {
  background-image: url('/data-mobile-page-3.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right, bottom;
  width: 100vw;
  min-height: 100vh;
  background-color: $black-color;
  padding-top: 90px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .step_three_section {
      background-image: url('/data-tablet-page-3.jpg');
      background-size: contain;
      background-position: right;
      padding-top: 142px;
      padding-bottom: 32px;
    }
  }
}

@media (min-width: 1200px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .step_three_section {
      background-image: url('/data-desktop-page-3.jpg');
      padding-top: 151px;
      padding-bottom: 32px;
    }
  }
}

.step_three_section_title {
  color: $white-color;
  @include fontSizeAuto(24px, 28px);
  font-weight: 700;
  margin-bottom: 14px;

  @include mediaQuery(768px) {
    @include fontSizeAuto(32px, 44px);
    margin-bottom: 16px;
  }
}

.step_three_section_description {
  color: rgba(239, 237, 232, 0.3);
  @include fontSizeAuto(14px, 18px);
  margin-bottom: 28px;

  @include mediaQuery(768px) {
    @include fontSizeAuto(16px, 24px);
    margin-bottom: 64px;
    max-width: 496px;
  }
}

.btn_panel {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 288px;

  @include mediaQuery(768px) {
    margin-bottom: 249px;
  }
}

.btn_go {
  display: inline-flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius-btn;
  -webkit-border-radius: $border-radius-btn;
  -moz-border-radius: $border-radius-btn;
  -ms-border-radius: $border-radius-btn;
  -o-border-radius: $border-radius-btn;
  background-color: $orange-color;
  color: $white-color;
  @include fontSizeAuto(16px, 18px);
  font-weight: 500;
  border: none;
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  cursor: pointer;

  &:hover {
    background-color: $white-color;
    color: $black-color;
  }

  @include mediaQuery(768px) {
    @include fontSizeAuto(20px, 24px);
    padding: 16px 75px;
  }
}

.nav_btn_back {
  display: flex;
  align-items: center;
  color: rgba(239, 237, 232, 0.6);
  @include fontSizeAuto(16px, 24px);
}
