@import '../../../sass/utils/variables.module';
@import '../../../sass/utils/mixins.module';

.nav_wrapper {
  display: flex;
  align-items: center;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $white-color;
  font-weight: bold;
}
