@import '../../../sass/utils/variables.module';
@import '../../../sass/utils/mixins.module';

.dashboard_list {
  display: flex;
  justify-content: center;
  gap: 13px;
  margin-bottom: 20px;

  @include mediaQuery(768px) {
    flex-direction: column;
    margin-bottom: 32px;
  }

  @include mediaQuery(1150px) {
    margin-bottom: 48px;
    flex-direction: row;
  }
}

.dashboard_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @include mediaQuery(768px) {
    flex-direction: row;
    gap: 16px;
  }

  @include mediaQuery(1150px) {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.dashboard_item:nth-child(odd) .dashboard_sub_item:first-child,
.dashboard_item:nth-child(even) .dashboard_sub_item:first-child {
  background-color: $orange-color;
}

.dashboard_item:nth-child(odd) .dashboard_sub_item.greenBorder {
  border: 1px solid $success-color;
}

.dashboard_item:nth-child(odd) .dashboard_sub_item.redBorder {
  border: 1px solid $error-color;
}

.dashboard_sub_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 96px;
  padding: 14px;
  border-radius: $border-radius-btn;
  -webkit-border-radius: $border-radius-btn;
  -moz-border-radius: $border-radius-btn;
  -ms-border-radius: $border-radius-btn;
  -o-border-radius: $border-radius-btn;
  border: 1px solid $borde-color;
  background-color: $item-block-color;

  @include mediaQuery(768px) {
    height: 116px;
    padding: 18px;
  }
}

.dashboard_header {
  display: flex;
  align-items: center;
}

.dashboard_icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.dashboard_info {
  @include fontSizeAuto(12px, 16px);
  color: $borde-color;
}

.dashboard_value {
  font-weight: 700;
  @include fontSizeAuto(18px, 20px);
  color: $white-color;

  @include mediaQuery(768px) {
    @include fontSizeAuto(24px, 32px);
  }
}

.reminder_wrapper {
  display: flex;
}

.icon_reminder {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.reminder {
  @include fontSizeAuto(14px, 18px);
  color: $borde-color;

  @include mediaQuery(768px) {
    max-width: 561px;
    @include fontSizeAuto(16px, 24px);
  }

  @include mediaQuery(1300px) {
    max-width: 380px;
  }
}
