.loaderContainer {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.orangeIcon {
  filter: invert(63%) sepia(99%) saturate(4584%) hue-rotate(346deg)
    brightness(97%) contrast(107%);
  animation: pulse 2s infinite;

  @media (min-width: 768px) {
    width: 250px;
    height: 240px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
